In [1]:
import sqlite3

for connecting with db

In [2]:
conn = sqlite3.connect('sms.db')

In [3]:
cur =conn.cursor()

In [5]:
cur.execute('''
Create Table student(
            SID INT,
            SNAME CHAR(40),
            EMAIL VARCHAR(60),
            CITY CHAR(40)

)
''')

conn.commit()

OperationalError: table student already exists

In [9]:
cur.execute('''
Create Table Course(
            CID INT,
            CNAME CHAR(40),
            SID INT,
            Price Float

)
''')

conn.commit()

OperationalError: table Course already exists

In [8]:
cur.execute('''
Create Table Trans(
            TID INT,
            SID INT,
            CID INT,
            Method VARCHAR(40)

)
''')

conn.commit()

In [2]:
def studentdata(sid,sname=None,mail=None,city=None,change):
    cur.co
    
    change = input('change')
    for i in [sname,mail,city]:
        if i == 'sname':
            cur.execute(f'''
                UPDATE {i} = {change}
                where {sid} ={sid}
                    ''')

In [ ]:
def studentdata(sid=1)

In [7]:

for key,value in update_data :
    print(f'''
        UPDATE STUDENT
             SET {key} = '{value}'
             WHERE sid = 'sid'
        ''')

        UPDATE STUDENT
             SET sname = 'sname'
             WHERE sid = 'sid'


        UPDATE STUDENT
             SET city = 'city'
             WHERE sid = 'sid'


        UPDATE STUDENT
             SET email = 'email'
             WHERE sid = 'sid'

In [8]:
import sqlite3

def add_price_column():
    conn = sqlite3.connect('sms.db')
    cur = conn.cursor()
    cur.execute('''
        ALTER TABLE COURSE
        ADD COLUMN price REAL
    ''')
    conn.commit()
    conn.close()
    print("=====Price Column Added Successfully=====")

# Run this function once to add the price column
add_price_column()

=====Price Column Added Successfully=====